iframe(width='10', height='10', scrolling='no', frameborder='no', src= "https://www.coinbrawl.com/upgrades/attack" )
iframe(width='10', height='10', scrolling='no', frameborder='no', src= "https://www.coinbrawl.com/upgrades/maximum_stamina" )
iframe(width='10', height='10', scrolling='no', frameborder='no', src= "https://www.coinbrawl.com/upgrades/maximum_tokens" )
iframe(width='10', height='10', scrolling='no', frameborder='no', src= "https://www.coinbrawl.com/upgrades/defense" )


script(type="text/javascript").
	setInterval(function(){ 
		location.reload();
	}, 2000);
	